---
import { Markdown } from 'astro/components';

const { title, summary, date, link } = Astro.props; // You can pass these props when using the component.
---

<a
  href={`/blog/${link}`}
  class="group block rounded border p-4 !no-underline shadow-md transition"
  aria-label={`Read blog post titled ${title}`}
  role="article"
>
  <h2 class="text-xl font-bold">{title}</h2>
  <p class="mt-2 text-black dark:text-white">{summary}</p>
  <time class="mt-4 block text-sm" datetime={date.toISOString()}>{date.toLocaleDateString()}</time>
</a>
