---
const { title, summary, date, link } = Astro.props; // You can pass these props when using the component.
---

<article
  class="group block rounded-xl border bg-white p-6 pt-4 shadow-md transition dark:bg-gray-800"
  aria-label={`Blog post titled ${title}`}
>
  <h2 class="text-xl font-bold">
    <a href={`/blog/${link}`} class="!no-underline" aria-label={`Read blog post titled ${title}`}>
      {title}
    </a>
  </h2>

  <div class="mt-1 flex items-center gap-1 text-sm">
    Published on
    <time datetime={date.toISOString()}>
      {' '}{date.toLocaleDateString()}
    </time>
  </div>

  <p class="mb-3 mt-2 text-black dark:text-white">{summary}</p>

  <a href={`/blog/${link}`} aria-label={`Read full blog post titled ${title}`}> Read More</a>
</article>
