---
const { title, description, url, image, author } = Astro.props;

let subtitle = 'JodyLeCompte.com';

const ogImageUrl = image 
  ? 'https://jodylecompte.com/blog/' + image
  : "https://jodylecompte.com/images/og_card.png"
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta name="twitter:card" content="summary_large_image"/>
<meta property="og:image" content={ogImageUrl} />

<!-- twitter card -->

<!-- page title -->
<title>{title} - {subtitle}</title>
